<?xml version="1.0" encoding="utf-8"?>

<!--for more information on how to configure your ASP.NET application, please visit http://go.microsoft.com/fwlink/?LinkId=169433 -->

<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="JSAT.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="Datasheet_DataPath" value="~/Upload Folder/Career_Data/Datasheet_Data/" />
    <add key="ExportCSVPath" value="~/Export_CSV/" />
    <add key="Zip_Data" value="~/Upload Folder/Career_Data/Zip_Data/" />
    <add key="All_Data" value="~/Upload Folder/Career_Data/All_Data/" />
    <add key="Profile_Photo_DataPath" value="~/img/" />
    <add key="Photo_DataPath" value="~/Upload Folder/Career_Data/Photo_Data/" />
    <add key="IDCard_DataPath" value="~/Upload Folder/Career_Data/IDCard_Data/" />
    <add key="Credential_DataPath" value="~/Upload Folder/Career_Data/Credential_Data/" />
    <add key="Japanese_DataPath" value="~/Upload Folder/Career_Data/Japanese_Data/" />
    <add key="Graduation_DataPath" value="~/Upload Folder/Career_Data/Graduation_Data/" />
    <add key="Qualification_DataPath" value="~/Upload Folder/Career_Data/Qualification_Data/" />
    <add key="LabourCard_DataPath" value="~/Upload Folder/Career_Data/LabourCard_Data/" />
    <add key="BackUp_Loc" value="~/Upload Folder/DB_Backup/"></add>
    <add key="Client_DataPath" value="~/Upload Folder/Client_Data/" />
  </appSettings>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.0" optimizeCompilations="true" strict="true" explicit="true">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </buildProviders>
    </compilation>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
    </httpHandlers>
    <machineKey validationKey="AutoGenerate,IsolateApps" decryptionKey="AutoGenerate,IsolateApps" validation="SHA1" decryption="Auto" />
    <authentication mode="Forms" />
    <sessionState mode="InProc" cookieless="false" timeout="200">
      <!-- default session timeout is 20 mins-->
    </sessionState>
    <httpRuntime maxRequestLength="1024000" executionTimeout="3600" />
    <globalization culture="en-US" uiCulture="en" />
    <!--datetime format setting -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="asp" assembly="DropDownListChosen" namespace="DropDownListChosen" />
    <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" /></controls>
  </pages>
  </system.web>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=153.120.92.24;Initial Catalog=JSAT_Ver1Testing;Persist Security Info=True;User ID=sa;Password=admin1234567!" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.webServer>
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <defaultDocument>
      <files>
        <clear />
        <add value="Login.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <applicationSettings>
    <JSAT.Properties.Settings>
      <setting name="Datasheet_Data_1" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Datasheet_Data_2" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="Datasheet_Data_3" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="Datasheet_Data_4" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="Datasheet_Data_5" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="Datasheet_Data_6" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="Datasheet_Data_7" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="Datasheet_Data_8" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="Japanese_Data_1" serializeAs="String">
        <value>9</value>
      </setting>
      <setting name="Japanese_Data_2" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="Japanese_Data_3" serializeAs="String">
        <value>11</value>
      </setting>
      <setting name="Japanese_Data_4" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="Japanese_Data_5" serializeAs="String">
        <value>13</value>
      </setting>
      <setting name="CV_Data_1" serializeAs="String">
        <value>14</value>
      </setting>
      <setting name="CV_Data_2" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="CV_Data_3" serializeAs="String">
        <value>16</value>
      </setting>
      <setting name="CV_Data_4" serializeAs="String">
        <value>17</value>
      </setting>
      <setting name="CV_Data_5" serializeAs="String">
        <value>18</value>
      </setting>
      <setting name="CV_Data_6" serializeAs="String">
        <value>19</value>
      </setting>
      <setting name="CV_Data_7" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="CV_Data_8" serializeAs="String">
        <value>21</value>
      </setting>
      <setting name="CV_Data_9" serializeAs="String">
        <value>22</value>
      </setting>
      <setting name="CV_Data_10" serializeAs="String">
        <value>23</value>
      </setting>
      <setting name="CV_Data_11" serializeAs="String">
        <value>24</value>
      </setting>
      <setting name="CV_Data_12" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="CV_Data_13" serializeAs="String">
        <value>26</value>
      </setting>
      <setting name="CV_Data_14" serializeAs="String">
        <value>27</value>
      </setting>
      <setting name="CV_Data_15" serializeAs="String">
        <value>28</value>
      </setting>
      <setting name="Photo_1" serializeAs="String">
        <value>29</value>
      </setting>
      <setting name="Photo_2" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="Photo_3" serializeAs="String">
        <value>31</value>
      </setting>
      <setting name="Graduation_Data_1" serializeAs="String">
        <value>32</value>
      </setting>
      <setting name="Graduation_Data_2" serializeAs="String">
        <value>33</value>
      </setting>
      <setting name="Graduation_Data_3" serializeAs="String">
        <value>34</value>
      </setting>
      <setting name="Graduation_Data_4" serializeAs="String">
        <value>35</value>
      </setting>
      <setting name="Graduation_Data_5" serializeAs="String">
        <value>36</value>
      </setting>
      <setting name="Qualification_Data_1" serializeAs="String">
        <value>37</value>
      </setting>
      <setting name="Qualification_Data_2" serializeAs="String">
        <value>38</value>
      </setting>
      <setting name="Qualification_Data_3" serializeAs="String">
        <value>39</value>
      </setting>
      <setting name="Qualification_Data_4" serializeAs="String">
        <value>40</value>
      </setting>
      <setting name="Qualification_Data_5" serializeAs="String">
        <value>41</value>
      </setting>
      <setting name="Qualification_Data_6" serializeAs="String">
        <value>42</value>
      </setting>
      <setting name="Qualification_Data_7" serializeAs="String">
        <value>43</value>
      </setting>
      <setting name="Qualification_Data_8" serializeAs="String">
        <value>44</value>
      </setting>
      <setting name="Qualification_Data_9" serializeAs="String">
        <value>45</value>
      </setting>
      <setting name="Qualification_Data_10" serializeAs="String">
        <value>46</value>
      </setting>
      <setting name="IDCard_Data_1" serializeAs="String">
        <value>47</value>
      </setting>
      <setting name="IDCard_Data_2" serializeAs="String">
        <value>48</value>
      </setting>
      <setting name="IDCard_Data_3" serializeAs="String">
        <value>49</value>
      </setting>
      <setting name="LabourCard_Data_1" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="LabourCard_Data_2" serializeAs="String">
        <value>51</value>
      </setting>
      <setting name="LabourCard_Data_3" serializeAs="String">
        <value>52</value>
      </setting>
    </JSAT.Properties.Settings>
  </applicationSettings>
</configuration>
